DigitalTwin/Assets/Resources/Data/GeoJSON/DeLijn/shapes.json filter=lfs diff=lfs merge=lfs -text
DigitalTwin/Assets/Resources/Data/GeoJSON/DeLijn/trips.json filter=lfs diff=lfs merge=lfs -text
DigitalTwin/Assets/Resources/Data/GTFS/DeLijn/gtfs.zip filter=lfs diff=lfs merge=lfs -text
